<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - TRY TO SELL</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">


    <div class="container mx-auto px-4 py-8">
        <h1 class="text-center text-3xl font-bold mb-6">About Us</h1>

        <div class="grid grid-cols-2 gap-6">
            <div class="bg-white p-6 shadow rounded-lg">
                <h2 class="text-xl font-semibold mb-2">Aaron Bringhurst</h2>
                <p><a href="https://github.com/AaronBringhurst" class="text-blue-500 hover:text-blue-700">GitHub</a></p>
            </div>
            <div class="bg-white p-6 shadow rounded-lg">
                <h2 class="text-xl font-semibold mb-2">Derek Sego</h2>
                <p><a href="https://github.com/sego37" class="text-blue-500 hover:text-blue-700">GitHub</a></p>
            </div>
            <div class="bg-white p-6 shadow rounded-lg">
                <h2 class="text-xl font-semibold mb-2">Patrick Granger</h2>
                <p><a href="https://github.com/U6028449" class="text-blue-500 hover:text-blue-700">GitHub</a></p>
            </div>
            <div class="bg-white p-6 shadow rounded-lg">
                <h2 class="text-xl font-semibold mb-2">Charles Shumway</h2>
                <p><a href="https://github.com/Ownerman123" class="text-blue-500 hover:text-blue-700">GitHub</a></p>
            </div>
        </div>
    </div>

</body>
</html>
