<!-- component -->
<section class="text-gray-400 bg-gray-900 body-font w-full">
  <div class="container px-5 py-24 mx-auto">
    <h1
      class="sm:text-3xl text-2xl font-medium title-font text-center text-white mb-20"
    >"Selling" Gone Wild
      <br class="hidden sm:block" />Sell All But The Kitchen Sink!
    </h1>

    <div
      class="flex flex-wrap sm:-m-4 -mx-4 -mb-10 -mt-4 md:space-y-0 space-y-6"
    >
      <div class="p-4 md:w-1/3 flex">
        <div
          class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4 flex-shrink-0"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-6 h-6"
            viewBox="0 0 24 24"
          >
            <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
          </svg>
        </div>
        <div class="flex-grow pl-6">
          <h2 class="text-white text-lg title-font font-medium mb-2">Fast Connection</h2>
          <p class="leading-relaxed text-base">Have your posting reach people fast! Your post will never get as much attention as they do here! Your posted items will be flying off the shelves and out of your garage!</p>
          <a class="mt-3 text-indigo-400 inline-flex items-center">Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>

      <div class="p-4 md:w-1/3 flex">
        <div
          class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4 flex-shrink-0"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-6 h-6"
            viewBox="0 0 24 24"
          >
            <circle cx="6" cy="6" r="3"></circle>
            <circle cx="6" cy="18" r="3"></circle>
            <path d="M20 4L8.12 15.88M14.47 14.48L20 20M8.12 8.12L12 12"></path>
          </svg>
        </div>

        <div class="flex-grow pl-6">
          <h2 class="text-white text-lg title-font font-medium mb-2">Cut The Fluff</h2>
          <p class="leading-relaxed text-base">Only reach people who are interested! No need to filter candidates! No bots and No more BS! </p>
          <a class="mt-3 text-indigo-400 inline-flex items-center">Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>

      <div class="p-4 md:w-1/3 flex">
        <div
          class="w-12 h-12 inline-flex items-center justify-center rounded-full bg-gray-800 text-indigo-400 mb-4 flex-shrink-0"
        >
          <svg
            fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-6 h-6"
            viewBox="0 0 24 24"
          >
            <path d="M20 21v-2a4 4 0 00-4-4H8a4 4 0 00-4 4v2"></path>
            <circle cx="12" cy="7" r="4"></circle>
          </svg>
        </div>
        <div class="flex-grow pl-6">
          <h2
            class="text-white text-lg title-font font-medium mb-2"
          >Varified Accounts</h2>
          <p class="leading-relaxed text-base">All accounts are varified and are continually monitored. Now you can feel safe and assured with those you interact through "TRY" To Sell. </p>
          <a class="mt-3 text-indigo-400 inline-flex items-center">Learn More
            <svg
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              class="w-4 h-4 ml-2"
              viewBox="0 0 24 24"
            >
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>

</section>
<section>
  <div>
    {{> listings}}
  </div>
  <div>
    {{> listingModal}}
  </div>
</section>

{{! --------------------------------------------------------------- }}

<!-- component -->
<div class="fixed bottom-0 right-0 mb-4 mr-4">
  <button
    id="open-chat"
    class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition duration-300 flex items-center"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6 mr-2"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M12 6v6m0 0v6m0-6h6m-6 0H6"
      ></path>
    </svg>
    MESSAGES
  </button>
</div>
<div id="chat-container" class="hidden fixed bottom-16 right-4 w-96">
  <div class="bg-white shadow-md rounded-lg max-w-lg w-full">
    <div
      class="p-4 border-b bg-blue-500 text-white rounded-t-lg flex justify-between items-center"
    >
      <p class="text-lg font-semibold">INTERESTED CUSTOMER</p>
      <button
        id="close-chat"
        class="text-gray-300 hover:text-gray-400 focus:outline-none focus:text-gray-400"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-6 h-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    <div id="chatbox" class="p-4 h-80 overflow-y-auto">
      <!-- Chat messages will be displayed here -->
     
      <div class="mb-2">
        <p
          class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 inline-block"
        >Hello! I am intersted in your recent listing... is it still available?</p>
      </div>
      <div class="mb-2 text-right">
        <p class="bg-blue-500 text-white rounded-lg py-2 px-4 inline-block">It is still available</p>
      </div>
      <div class="mb-2">
        <p
          class="bg-gray-200 text-gray-700 rounded-lg py-2 px-4 inline-block"
        >Do you accept venmo/cash app or only cash? </p>
      </div>
     
    </div>
    <div class="p-4 border-t flex">
      <input
        id="user-input"
        type="text"
        placeholder="Type a message"
        class="w-full px-3 py-2 border rounded-l-md focus:outline-none focus:ring-2 focus:ring-blue-500"
      />
      <button
        id="send-button"
        class="bg-blue-500 text-white px-4 py-2 rounded-r-md hover:bg-blue-600 transition duration-300"
      >Send</button>
  </div>
  </div>
</div>

{{! -------------------------------------------------- }}

<script src="/js/chat.js"></script>
<script src="/js/modal.js"></script>